.popup__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

  width: 358px;
  margin: 34px auto 39px;
}

@media (max-width: 550px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 65px;
  }
}
