.profile__name-job {
  padding: 0;
  margin: 0;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;

  grid-column: 1 / 2;
  grid-row: 2 / 3;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 680px) {
  .profile__name-job {
    text-align: end;
    box-sizing: border-box;
    padding-right: 11px;
    font-size: 14px;
    line-height: 14px;
  }
}
