.infoTooltip__box {
  display: flex;
  flex-direction: column;
  width: 430px;
  min-height: 330px;
  background-color: #ffffff;

  position: fixed;
  z-index: 2;
  top: calc(50% - 165px);
  left: calc(50% - 215px);

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 550px) {
  .infoTooltip__box {
    width: 282px;
    min-height: 322px;
    top: calc(50% - 161px);
    left: calc(50% - 141px);
  }
}
