.login__password {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: black;
  padding-bottom: 9px;
  padding-top: 5px;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
