.header__button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #a9a9a9;
  background-color: black;
  border: none;
  transition: all 0.2s linear;
}

.header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 320px) {
  .header__button {
    margin-top: 8px;
    font-size: 14px;
    margin-right: 30px;
  }
}
